doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/js/tether.min.js")
  script(src="/javascripts/js/bootstrap.min.js")
  script(src="/javascripts/angular.min.js")
  script(src="/app/app.module.js")
